body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: black;
  color: lime;
}

header {
  height: 100px
}

div {
  overflow: scroll;
  margin: 10px;
}

.marketplace {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

a {
  text-decoration: none;
}

.buttons {
  background-color: blue;
  border-style: none;
  color: silver;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.buttons:hover {
  background-color: magenta;
}

input[type=submit]{
  font-family: 'Press Start 2P', cursive;
}
