body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: black;
  color: lime;
}

header {
  height: 100px
}

div {
  overflow: hidden;
  margin: 10px auto;
}

.marketplace {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.marketinventory {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

input {
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  margin: 10px;
  border: none;
}

select {
  font-family: 'Press Start 2P', cursive;
  background-color: white;
  color: gray;
  border: none;
  font-size: 12px;
  height: 35px;
  padding: 12px;
  margin: 10px;
  width: 243px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.buttons {
  background-color: blue;
  border-style: none;
  font-size: 10px;
  color: silver;
  padding: 5px;
  margin: 15px;
  cursor: pointer;
}

.buttons:hover {
  background-color: magenta;
}

input[type=submit]{
  font-family: 'Press Start 2P', cursive;
}

.modify {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.merchant_avatar {
  height: 75px;
  width: 75px;
}

.item {
  height: 300px;
  width: 300px;
}

.itemimage {
  height: 75px;
  width: 75px;
}

.itemname {
  font-size:12px;
  height: 35px;
  overflow: scroll;
  margin: 15px;
}

.description {
  height: 70px;
  overflow: scroll;
  font-size: 10px;
  color: white;
}

.description:hover {
   color: magenta;
}

.price {
  margin: 5px;
}
