<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="utf-8">
      <title>Create New Merchants</title>
      <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
      <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
    </head>
  </head>
  <body>
    <h3> Create New Merchant </h3>
      <form action="/merchants" method="post">
        <h4>Enter information for a new merchant:</h4>
        <input type='text' name='merchant[name]' placeholder="Name"/><br/>
        <input type='submit' value="Submit"/>
      </form>
  </body>
</html>
