<h3> New Merchant </h3>

<form action="/merchants" method="post">
  <h4>Enter information for a new merchant:</h4>
  <input type='text' name='merchant[name]' placeholder="Name"/><br/>
  <input type='submit' value="Submit"/>
</form>
