<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="utf-8">
      <title>Create New Items</title>
      <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
      <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
    </head>
  </head>
  <body>
    <header>
      <h3> Create New Item </h3>
    </header>
    <nav>
      <div class="navlinks">
        <div class="dropdown">
          <button name="Merchants">Merchants</button>
            <div class="dropdown-content">
              <a href="/merchants">Marketplace</a>
              <a href="/merchants/new">Create New Merchant</a>
              <a href="/merchants-dashboard">Merchants Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Items">Items</button>
            <div class="dropdown-content">
              <a href="/items">Inventory</a>
              <a href="/items/new">Create New Item</a>
              <a href="/items-dashboard">Items Dashboard</a>
            </div>
        </div>
        <div class="dropdown">
          <button name="Categories">Categories</button>
            <div class="dropdown-content">
              <a href="/categories">Browse By Category</a>
              <a href="/categories/new">Create New Category</a>
              <a href="/categories-dashboard">Categories Dashboard</a>
            </div>
      </div>
      </div>
      <div class="search_bar">
         <input type="search" name="search" placeholder="search..">
      </div>
    </nav>
    <section class="show">
      <form action="/items" method="post">
        <h4>Enter information for a new item:</h4>
        <input type='text' name='item[title]' placeholder="Title"/><br/>
        <input type='text' name='item[description]' placeholder="Item Description"/><br/>
        <input type='text' name='item[price]' placeholder="Price"/><br/>
        <input type='text' name='item[image]' placeholder="Image URL"/><br/>
        <select id="merchant_select">
          <option selected disabled>Choose A Merchant</option>
          <% @merchants.each do |merchant| %>
               <option id="merchant.name" value="merchant.id"> <%= merchant.name %></option>
          <% end %>
        </select><br/>
        <select id="category_select">
          <option selected disabled>Choose A Category</option>
          <% @categories.each do |category| %>
               <option id="category.name" value="category.id"> <%= category.name %></option>
          <% end %>
        </select><br/>
        <input class="buttons" type='submit' value="Submit"/>
      </form>
    </section>
  </body>
</html>
