<h3>Categories</h3>


<% @categories.order("name").each do |category| %>
<p>
  <h3><a href="/categories/<%= category.id %>"><%= category.name %></a></h3>
  <a href="/categories/<%= category.id  %>/edit">Edit</a>
  <form action="/categories/<%= category.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
</p>
<% end %>

