<h3>New Category</h3>

<form action='/categories' method='POST'>
  <h4>Enter information for a new merchant:</h4>
  <input type='text' name='category[name]' placeholder='Name'/><br/>
  <input type='submit' value='Submit'/>
</form>